<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Epic01">
    <test name="Registration Tests">
        <classes>
            <class name="RegisterUserTest"/>
        </classes>
    </test>
    <test name="Login Tests">
        <classes>
            <class name="LoginTest"/>
        </classes>
    </test>
    <test name="Change Password Test">
        <classes>
            <class name="PasswordChangeTest"/>
        </classes>
    </test>
    <test name="Add Finance">
        <classes>
            <class name="AddFinanceTest"/>
        </classes>
    </test>
    <test name="Edit Finance">
        <classes>
            <class name="EditFinanceTest"/>
        </classes>
    </test>
    <test name="Delete Finance Record">
        <classes>
            <class name="DeleteFinanceTest"/>
        </classes>
    </test>

    <test name="Forget Password Test">
        <classes>
            <class name="ForgetPasswordTest"/>
        </classes>
    </test>
</suite>
